<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>CS ARCS</h1>
        <hr>
        <h2>Login</h2>
        <form id="">
            <label>Email:</label>
            <input type="email" id="email" placeholder="enter your uni-email">
            <label>Password:</label>
            <input type="password" id="password" placeholder="Password">
            <button type="submit" onclick="submitForm()">login</button>
        </form>
    </div>
    <script>
    function submitForm() {
    const formData = {
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
    };

    fetch("/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        } else {
            return response.json();
        }
    })
    .then(data => {
        if (data && !data.success) {
            alert("Error: " + data.error);
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
}

    </script>
</body>
</html>
