<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>CS ARCS</h1>
        <hr>
        <h2>Create a New Account</h2>
        <form>
            <div class="name-fields">
                <label>First Name:</label>
                <input type="text" placeholder="First Name">
                <label>Last Name:</label>
                <input type="text" placeholder="Last Name">
                <label>University ID:</label>
                <input type="text" placeholder="ID">
            </div>
            <label>Email:</label>
            <input type="email" placeholder="enter your uni-email">
            <label>Password:</label>
            <input type="password" placeholder="Password">
            <p class="login-link">Already have an account? <a href="/login">Login now!</a></p>
            <button type="submit">Join</button>
        </form>
    </div>
</body>
</html>
